<link href="assets/css/mean.css" rel="stylesheet" />


<div class="container-md">
<div class="card text-center">
  
  <div class="card-body" id="bgi">
    <h5 class="card-title text-white" id="bgi-title">Alpha Blog</h5>
    <p class="card-text text-white" id="bgi-text">f the Arial font were not found on the end user's computer, the browser would display a default font. If you are concerned that the font.</p>
    <p class="card-text text-white">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-success btn-lg">Sign Up!</a>
  </div>
  
</div>
</div>


